.login_page {
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_page__container {
  width: 320px;
  height: 310px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  position: relative;
}

.login_page__text {
  font-size: 40px;
  margin-bottom: 20px;
  color: rgb(97 148 139);
  font-weight: 900;
}

.login_page__error{
  position: absolute;
  top: 200px;
  color: #cb1111;
  font-size: 18px;
}

.login_page__success{
  position: absolute;
  top: 200px;
  color: rgb(0, 140, 114);
  font-size: 18px;
}

.login_page__input {
  height: 40px;
  border: 2px solid rgb(97 148 139);
  border-radius: 6px;
  font-size: 18px;
  padding: 0 10px;
  outline: none;
}

.login_page__buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.login_page__buttons button:nth-child(2) {
  background-color: rgb(97 148 139);
  color: white;
}

.login_page__buttons button {
  background-color: transparent;
  border: 1px solid rgb(97 148 139);
  font-size: 20px;
  border-radius: 10px;
  padding: 4px 20px;
  cursor: pointer;
  color: rgb(97 148 139);
}

.login_page__container span {
  position: absolute;
  color: rgb(97 148 139);
  background-color: white;
  padding: 0 6px;
  left: 30px;
  top: 87px;
}

.login_page__container span:nth-child(2){
  top: 87px;
}

.login_page__container span:last-of-type{
  top: 138px;
}