.menu{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.menu__photo{
  width: 50px;
  margin-left: 20px;
}

.menu__photo img{
  width: 100%;
}

.menu__select{
  list-style: none;
  display: flex;
  gap: 20px;
  border: 1px solid rgb(97 148 139);
  border-radius: 40px;
  justify-content: center;
  margin-left: 50px;
}

.menu__select li{
  padding: 5px 15px;
}

.menu__select li a{
  text-decoration: none;
  color: rgb(97 148 139);
  font-size: 20px;
}

.menu__login{
  position: absolute;
  right: 20px;
}

.menu__button_login{
  padding: 10px 20px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(97 148 139);
  color: white;
  cursor: pointer;
}

.menu__home{
  background-color: rgb(97 148 139);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.menu__home a{
  color: white !important;
}

.menu__icon_login{
    display: none;
    border: 1px solid rgb(97 148 139);
    border-radius: 4px;
    background-color: transparent;
    color: green;
    background-color: white;
    padding: 4px;
}

@media only screen and (max-width: 600px) {
  .menu__select{
    display: none;
  }
  .menu__button_login{
    display: none;
  }
  .menu__icon_login{
    display: inline-block;
  }
}